<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form>
            <p:commandButton action="#{userController.returnMainMenu()}" value="Main menu"/>
            <p:panel header="WELCOME">
                <p:outputLabel value="Hi, #{userController.userBean.username}!"/>

                <p:panelGrid columns="2">
                    <p:outputLabel value="Login date:"/>
                    <p:outputLabel value="#{userController.userBean.loginDate}">
                        <f:convertDateTime pattern="dd/MM/yyy HH:mm" type="both"/>
                    </p:outputLabel>
                    <p:outputLabel value="Login role:"/>
                    <p:outputLabel value="#{userController.userBean.role.role}"/>
                </p:panelGrid>

                <p:commandButton action="#{userController.logout()}" value="Logout"/>
            </p:panel>
        </h:form>
    </h:body>
</html>
