<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>

        <h:form>
            <center>
                <h:panelGrid columns="1">
                    <h:graphicImage library="default" name="images/404.jpg"/>

                    <p:commandButton action="#{userController.returnHome()}" value="Return Home"/>
                </h:panelGrid>

            </center>
        </h:form>
    </h:body>
</html>
