<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </h:head>
    <h:body>
        <p:outputLabel value="WELCOME, #{userController.userBean.username}!"/>
        <h:form>
            <p:panel>
                <f:facet name="header">
                    <p:commandLink action="#{userController.logout()}" value="Logout" style="float:right;"></p:commandLink>
                </f:facet>
                <p:dataTable value="#{userController.userBean.roles}" var="role">
                    <f:facet name="header">
                        <h:outputText value="ROLES"/>
                    </f:facet>
                    <p:column headerText="Role">
                        <p:commandButton action="#{userController.validateUrl(role.role)}" value="#{role.role}"/>
                    </p:column>
                    <p:column headerText="Description">
                        <p:outputLabel value="#{role.description}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>
    </h:body>
</html>
